# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
.env

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Test / Coverage
.coverage
htmlcov/
.pytest_cache/
